/* Main Stylesheet */

/******************/
/*** TYPOGRAPHY ***/
/******************/

/**********************/
/*** END TYPOGRAPHY ***/
/**********************/





/*********************/
/*** WEBSITE ICONS ***/
/*********************/
html[dir="rtl"] .fa-quote-left,
html[dir="rtl"] .fa-quote-right {
    transform: scaleX(-1);
}
/*************************/
/*** END WEBSITE ICONS ***/
/*************************/







/**********************/
/*** GLOBAL CLASSES ***/
/**********************/
html[dir="rtl"] .row > div {
    float: right;
}


/**************************/
/*** END GLOBAL CLASSES ***/
/**************************/













/**********************/
/*** BASIC ELEMENTS ***/
/**********************/
html[dir="rtl"] blockquote {
    padding: 0 20px 0 0;
}

html[dir="rtl"] .form-group .input-group .form-control {
    border-left: 0;
    border-radius: 0 5px 5px 0;
}

html[dir="rtl"] .form-group .input-group .input-group-addon {
    border-left: 1px #cccccc solid;
    border-radius: 5px 0 0 5px;
}

html[dir="rtl"] .select-wrapper .icon {
    left: 8px;
    right: auto;
}

/*
    Form Validator
*/
html[dir="rtl"] input.valid,
html[dir="rtl"] select.error,
html[dir="rtl"] select.valid,
html[dir="rtl"] select.error{
    background-position: left 10px center!important;
}

html[dir="rtl"] .select-wrapper.valid,
html[dir="rtl"] .select-wrapper.error {
    background-position: left 20px center!important;
}





/*************************/
/*** END FORM ELEMENTS ***/
/*************************/








/***********************/
/*** BUTTONS & LINKS ***/
/***********************/
html[dir="rtl"] .btn-group.btn-default .btn {
    float: right;
}
/***************************/
/*** END BUTTONS & LINKS ***/
/***************************/







/**********************/
/*** WEBSITE HEADER ***/
/**********************/
/*
    Header Top
*/

/*
    Top Primary Menu
*/
html[dir="rtl"] ul#top-primary-menu {
    float: right;
}

html[dir="rtl"] ul#top-primary-menu > li {
    margin: 0 26px 0 0;
}

html[dir="rtl"] ul#top-primary-menu > li:first-child {
    margin: 0;
}


/*
    Header Middle
*/
html[dir="rtl"] #brand-logo {
    float: right;
}

html[dir="rtl"] #brand-logo img {
    margin: 0;
}

html[dir="rtl"] #header-aside {
    float: left;
}

html[dir="rtl"] #header-auction {
    float: right;
}

html[dir="rtl"] #header-shopping-cart {
    float: left;
}

html[dir="rtl"] #header-shopping-cart .cart-dropdown {
    right: auto;
    left: 0;
}

html[dir="rtl"] #header-shopping-cart .cart-dropdown:before {
    right: auto;
    left: 16px;
}

html[dir="rtl"] #header-middle .fa-bars {
    float: right;
    margin: 0 0 0 30px;
}

html[dir="rtl"] #header-middle .process-button-group {
    padding-right: 30px!important;    
}


html[dir="rtl"] #header-middle .h1 {
    float: left;
    padding: 0;
}

/*
   Top Secondary Menu
*/
html[dir="rtl"] ul#top-secondary-menu {
    float: left;
}

html[dir="rtl"] ul#top-secondary-menu > li {
    margin: 0 26px 0 0;
}

html[dir="rtl"] #header-top ul#top-secondary-menu > li:first-child {
    margin: 0;
}

/*
    Header Base
*/

html[dir="rtl"] #primary-menu ul.nav-subcategory {
    text-align: right;
}
/**************************/
/*** END WEBSITE HEADER ***/
/**************************/




/************************/
/*** WEBSITE CONTENTS ***/
/************************/
/*
    Banner Aside
*/
html[dir="rtl"] #banner-wrap .col-md-4 {
    padding-left: 0;
    padding-right: 0.8%;
}

html[dir="rtl"] #banner-aside img {
    left: 8%;
    right: auto;
}

/*
    Featured Products
*/
html[dir="rtl"] .featured-products .heading h2 {
    text-align: right;
}

html[dir="rtl"] .featured-products .heading .btn-info {
    right: auto;
    left: 0;
}

html[dir="rtl"] .featured-carousel .tag {
    right: auto;
    left: 0;
}

/*
    Product Showcase
*/
html[dir="rtl"] .product-showcase .col-right > ul {
    margin: 0 1% 0 0;
}

html[dir="rtl"] .product-showcase .col-right > ul > li {
    margin-left: 0;
    margin-right: 1%;
}

/*
    Info Widget
*/
html[dir="rtl"] .info-widget div {
    text-align: right;
}

html[dir="rtl"] .info-widget > li .fa {
    margin: 0 0 0 0.3em;
}

/*
    Featured Items
*/
html[dir="rtl"] ul#featured-items > li > b:after {
    display: none;
}

html[dir="rtl"] ul#featured-items > li > b:before {
    content: "\f177";
    font-family: 'FontAwesome';
    font-weight: normal;
    position: relative;
    top: 1px;
    padding: 0 5px;
}

html[dir="rtl"] ul#featured-items > li > ul > li:after,
html[dir="rtl"] ul#featured-items > li > ul > li:last-child:after {
    content: "\f104";
    display: inline-block;
}

html[dir="rtl"] ul#featured-items > li > ul > li:last-child:after {
    display: none;
}


/*
    Page Crumb
*/
html[dir="rtl"] ul.pagecrumb > li > a:after {
    content: "\f053";
    vertical-align: top;
    margin: 1px 0 0 0;
}

/*
    Primary Content
*/
html[dir="rtl"] #primary-content {
    float: left;
}

/*
    Product Overview
*/
html[dir="rtl"] #product-overview .product-summary {
    float: left;
    padding-left: 15px;
    padding-right: 30px;
}

html[dir="rtl"] #product-overview .product-gallery-wrap {
    float: right;
}

html[dir="rtl"] #product-overview .product-summary > .row > .col-md-6:first-child {
    float: right;
}

html[dir="rtl"] #product-overview .product-summary > .row > .col-md-6:last-child {
    float: right;
}

html[dir="rtl"] #product-overview .product-summary .row.split > div:first-child {
    border: 0;
    border-left: 1px #e9e9e9 solid;
}

html[dir="rtl"] #product-overview .product-logo {
    float: right;
}

html[dir="rtl"] #product-overview .product-title {
    float: right;
}

html[dir="rtl"] #product-overview .product-summary .excerpt-section ul {
    padding-left: 0;
    padding-right: 15px;
}
html[dir="rtl"] #product-overview .process-section .col-md-1 {
    float: right;
}

html[dir="rtl"] #product-overview .process-section .col-md-8 {
    float: right;
}

html[dir="rtl"] #product-overview .process-section .col-md-3 {
    float: left;
    padding-left: 0;
}

html[dir="rtl"] #product-overview .process-section .col-md-3 .btn-options-group {
    text-align: left;
}

html[dir="rtl"] #product-overview .process-section input.form-control {
    float: right;
    margin: 0 0 0 5px;
}

html[dir="rtl"] .product-gallery-nav {
    float: right;
}

html[dir="rtl"] .product-gallery {
    float: left;
}

html[dir="rtl"] .product-gallery .slick-prev {
    right: auto;
}

/*
    Primary Col Layout
*/
html[dir="rtl"] .primary-col-layout .col-md-8 {
    float: right;
}

html[dir="rtl"] .primary-col-layout .col-md-4 {
    text-align: left;
    float: left;
}

/*
    Review Synopsis
*/
html[dir="rtl"] .review-synopsis .pros,
html[dir="rtl"] .review-synopsis .cons {
    padding: 0 20px 0 0;
}

html[dir="rtl"] .review-synopsis .pros:before,
html[dir="rtl"] .review-synopsis .cons:before {
    left: auto;
    right: 0;
}

/*
    Review Section
*/
html[dir="rtl"] .review-section .review-summary .progress {
    transform: scaleX(-1);
}

/*
    Review Tabs
*/
html[dir="rtl"] #review-tabs ul.nav-tabs > li {
    float: right;
}

html[dir="rtl"] #review-tabs .review-list .col-md-3:first-child {
    float: right;
}

html[dir="rtl"] #review-tabs .review-list .col-md-6 {
    float: right;
}

html[dir="rtl"] #review-tabs .review-list .col-md-3:last-child {
    float: left;
}

html[dir="rtl"] .review-list blockquote:before {
    left: auto;
    right: 0px;
    transform: scaleX(-1);
}

html[dir="rtl"] .review-list .review-synopsis {
    padding: 0 20px 0 0;
}

/*
    Checkout Section
*/
html[dir="rtl"] #checkout-tabs > li {
    float: right;
}

/*
    Primary Tabs
*/
html[dir="rtl"] .primary-tabs-content .panel-title label {
    padding-right: 0;
    padding-left: 40px;
}

html[dir="rtl"] .primary-tabs-content .panel-title label + .icon {
    right: auto;
    left: 0;
}

/*
    Primary Sidebar
*/
html[dir="rtl"] #primary-sidebar {
    float: right;
}

html[dir="rtl"] #primary-sidebar .sidebar-title .fa,
html[dir="rtl"] #primary-sidebar header .fa {
    float: left;
}
/*
    Filter Price
*/
html[dir="rtl"] #range-slider .price-range > li.range-start {
    float: right;
}

html[dir="rtl"] #range-slider .price-range > li.range-current {
    float: none;
}

html[dir="rtl"] #range-slider .price-range > li.range-end {
    float: left;
}

/*
    Checkout Aside
*/
html[dir="rtl"] .primary-data-widget .table-cell:first-child {
    border-left: 1px #cccccc solid;
}

html[dir="rtl"] .secondary-data-widget .table-row.split.divider .table-cell:first-child {
    border-left: 1px #cccccc solid;
}
/****************************/
/*** END WEBSITE CONTENTS ***/
/****************************/








/**********************/
/*** WEBSITE FOOTER ***/
/**********************/
/*
    Footer Top
*/
html[dir="rtl"] #signup-form {
    float: right;
}

html[dir="rtl"] #signup-form label {
    float: right;
}

html[dir="rtl"] #contact-column {
    float: left;
}


/*
    Footer Base
*/

/*
    Footer Base Primary Column
*/
html[dir="rtl"] #ft-base-primary-col {
    float: right;
}

html[dir="rtl"] #ft-brand-logo {
    float: right;
    margin: 0 0 0 10%;
}

html[dir="rtl"] #ft-social-links {
    float: none;
}

/*
    Footer Base Secondary Column
*/
html[dir="rtl"] #ft-base-secondary-col {
    float: left;
}

html[dir="rtl"] #ft-base-secondary-col ul li {
    border: 0;
    border-right: 1px #444444 solid;
}

html[dir="rtl"] #ft-base-secondary-col ul li:first-child {
    border: 0;
}
/*
    ScrollTop
*/
html[dir="rtl"] .scrolltop {
    left: 10px;
    right: auto;
}
/**************************/
/*** END WEBSITE FOOTER ***/
/**************************/




















