/* Main Stylesheet */

/******************/
/*** TYPOGRAPHY ***/
/******************/

/**********************/
/*** END TYPOGRAPHY ***/
/**********************/





/*********************/
/*** WEBSITE ICONS ***/
/*********************/

/*************************/
/*** END WEBSITE ICONS ***/
/*************************/







/**********************/
/*** GLOBAL CLASSES ***/
/**********************/
@media only screen {
    
    .main {
        width: 100%;
        max-width: 1280px;
        /* For browsers which support media queries, this will show a responsive website */
    }
}

@media only screen and (max-width: 991px) {
    .xs-hide {
        display: none!important;
    }
}


@media only screen and (min-width: 768px) {
    .md-hide {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .txt-extra-lg {
        font-size: 16px;
    }
}
/**************************/
/*** END GLOBAL CLASSES ***/
/**************************/













/**********************/
/*** BASIC ELEMENTS ***/
/**********************/
@media only screen {
    html,
    body {
        overflow-x: hidden;
    }
}

@media only screen and (max-width: 991px) {
    /*
        Menu Toggle Animations
    */
    body {
        transition: 0.4s;
        padding-left: 0;
    }
    
    body.animate {
        transition: 0.4s;
        padding-left: 248px;
    }
    
    body.animate:after {
        content: "";
        width: 100%;
        height: 100%;
        display: block;
        position: fixed;
        top: 0;
        z-index: 99;
        opacity: 0.15;
        background: #000000;
    }
}

@media only screen and (min-width: 768px) {
    #wrapper {
        min-width: 768px;
    }
}

@media only screen and (max-width: 767px) {
    #wrapper {
        min-width: 320px;
    }
}
/**************************/
/*** END BASIC ELEMENTS ***/
/**************************/








/******************/
/*** H ELEMENTS ***/
/******************/
@media only screen and (max-width: 991px) {
    h3,
    .h3 {
        font-size: 15px;
    }
}
/**********************/
/*** END H ELEMENTS ***/
/**********************/








/*********************/
/*** FORM ELEMENTS ***/
/*********************/

/*************************/
/*** END FORM ELEMENTS ***/
/*************************/








/***********************/
/*** BUTTONS & LINKS ***/
/***********************/

/***************************/
/*** END BUTTONS & LINKS ***/
/***************************/







/**********************/
/*** WEBSITE HEADER ***/
/**********************/
@media only screen and (min-width: 992px) {
   #primary-menu > ul > li > a   {
       position: relative;
       z-index: 99999;
    }

}
@media only screen and (min-width: 992px) and (max-width: 1280px) {
  
/* 
    Header Middle
*/
    /* Header Main */
    #header-main {
        width: 44%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1120px) {
/*
    Header Base
*/
    /* Primary Menu */
    #primary-menu > ul > li {
        margin: 0 0.5%;
    }
}

@media only screen and (min-width: 992px) {
/*
    Header Base
*/
    #primary-menu ul.nav-subcategory {
        width: 100%;
        display: table!important;
    }

    #primary-menu ul.nav-subcategory > li {
        display: table-cell!important;
        vertical-align: top;
    }
    
    #primary-menu ul.nav-items {
        display: block!important;
    }
}






@media only screen and (max-width: 991px) {
    #page-header.basic {
        min-height: 80px;
    }
/*
    Header Middle
*/
    #header-middle #brand-logo {
        vertical-align: middle;
    }
    
    #header-middle .fa-bars {
        display: inline-block;
        margin-top: 5px;
    }
    
    #header-middle.not-sticking {
        z-index: 99;
    }
    
    #header-middle .h1 {
        font-size: 2.4em;
        padding: 10px 0 0 0;
    }
    
/* 
    Header Main 
*/
    #header-main {
        width: 100%;
        float: none;
        clear: both;
        margin: 50px 0 0 0;
    }
    
/* 
    Header Auction 
*/
    #header-auction {
        display: none;
    }    
    
/*
    Top Primary Menu
*/
    ul#top-primary-menu > li {
        margin-left: 18px;
    }
    
/*
    Top Secondary Menu
*/
    ul#top-secondary-menu > li {
        margin-left: 18px;
    }
    

    
/*
    Header Base
*/
    #header-base {
        width: 248px;
        height: 100%;
        overflow-y: scroll;
        font-size: 12px;
        transition: 0.4s;
        position: fixed;
        top: 0;
        left: -248px;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
    
    body.animate #header-base {
        transition: 0.4s;
        left: 0;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
    
    /*
    #header-base.transform {
        top: 120px;
    }*/
    
/* 
    Primary Menu 
*/
    #primary-menu {
        padding: 0 0 0 16px;
    }
    
    #primary-menu > ul > li {
        display: block;
        margin: 15px 0;
    }
    
    #primary-menu > ul > li > a {
        width: 172px;
        font-weight: normal;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        display: inline-block;
        vertical-align: middle;
        padding-right: 20px;
    }
    
    #primary-menu > ul > li:hover > a {
        color: #ffffff; 
    }
    
    #primary-menu > ul > li > a > .fa-chevron-down {
        display: none;
    }
    
    #primary-menu .fa-angle-right {
        font-size: 1.25em;
        display: inline-block;
        vertical-align: top;
        margin: 1px 5px 0 0;
    }
    
    #primary-menu .fa-plus-square-o,
    #primary-menu .fa-minus-square-o {
        font-size: 1.55em;
        display: inline-block;
        vertical-align: middle;
    }
    
    
    #primary-menu .dropdown-wrapper {
        opacity: 1;
        visibility: visible;
        position: relative;
        top: 0;
        background: none;
        box-shadow: none;
        margin: 0;
        padding: 0;
    }
    
    #primary-menu ul.nav-subcategory {
        display: none;
        padding: 0 0 0 10px;
    }
    
    #primary-menu ul.nav-items {
        display: none;
        padding: 0 0 0 10px;
    }
    
    #primary-menu ul.nav-subcategory > li,
    #primary-menu ul.nav-items > li {
        display: block;
        margin: 20px 0;
        padding-right: 0;
    }       
    
    #primary-menu ul.nav-subcategory > li.featured-ad {
        display: none;
    }
    
    #primary-menu ul.nav-subcategory > li > .fa-plus-square-o,
    #primary-menu ul.nav-subcategory > li > .fa-minus-square-o {
        vertical-align: top;
        margin: 1px 0 0 0;
    }
    
    #primary-menu ul.nav-subcategory > li > a,
    #primary-menu ul.nav-items > li > a {
        width: 162px;
        font-size: 1em;
        font-weight: normal;
        color: #ffffff;
        text-transform: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        vertical-align: middle;
        padding-right: 20px;
    }
    
    #primary-menu ul.nav-items > li > a {
        width: 158px;
    }
    
}







@media only screen and (max-width: 767px) {

    #page-header {
        min-height: 120px;
    }
/*
    Header Top
*/
    #header-top {
        display: none;
    }
    

/*
    Header Middle
*/
    /* Header Shopping Cart */
    #header-shopping-cart .fa-shopping-cart {
        font-size: 3.55em;
    }
    
    #header-shopping-cart .fa-shopping-cart .quantity {
        font-size: 0.28em;
        top: 25%;
    }
    
    #header-shopping-cart .cart-dropdown {
        min-width: 290px;
        right: -15px;
    }
    
    #header-shopping-cart .cart-dropdown:before {
        right: 20px;
    }
    
    #header-middle .process-button-group {
        width: 100%!important;
        float: none!important;
    }
    
    #header-middle .h1 {
        font-size: 1.5em;
        float: right;
        display: block;        
        text-align: right!important;
        padding: 10px 0 0 0;
    }
    
    #header-search-form .button-column {
        width: 75px;
        font-size: 0.8em;
    }
}
/**************************/
/*** END WEBSITE HEADER ***/
/**************************/




/************************/
/*** WEBSITE CONTENTS ***/
/************************/
@media only screen and (max-width: 1320px) {
/*
    Product Overview
*/
    #product-overview .product-summary > .row {
        margin-right: 0;
    }
}


@media only screen and (max-width: 1279px) {
  
/* 
    Banner Aside
*/
    #banner-aside {
        font-size: 9px;
    }
    
    #banner-aside img {
        max-width: 100px;
    }
    
    #banner-aside img.md-size {
        max-width: 80px;
    }
    
/*
    Product Showcase
*/
    .product-showcase {
        font-size: 1.5em;
    }
    
/*
    Info Widget
*/
    ul.info-widget {
        font-size: 9px;
    }
 
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    
/*  
    Product Showcase
*/
    .product-showcase .col-right img {
        margin: 4px auto;
    }
/*
    Product Gallery  
*/
    .product-gallery {
        width: 76%;
    }
    
        
    #banner-aside .link {
        margin: 1em 0 0 0;
    }
    
/*
    Checkout Section
*/
    #checkout-section {
        width: 850px;
    }
    
    .primary-data-widget > .table > .table-row > .table-cell:first-child {
        width: 60%;
    }

    .primary-data-widget > .table > .table-row > .table-cell:last-child {
        width: 40%;
    }
    
    .primary-data-widget > .table > .table-row > .table-cell:last-child {
        max-width: 90px;
    }
    

}




@media only screen and (min-width: 1080px) and (max-width: 1200px) {
/*
    Primary Content
*/
    #primary-content {
        width: 73%;
    }
}





@media only screen and (max-width: 1080px) {
  
/* 
    Banner Aside
*/
    #banner-aside {
        font-size: 9px;
    }
    
    #banner-aside img {
        max-width: 80px;
        top: 45px;
    }
    
    #banner-aside img.md-size {
        max-width: 60px;
        top: 30px;
    }
    
/*
    Primary Content
*/
    #primary-content {
        width: 70%;
    }
}

@media only screen and (min-width: 992px) {
/*
    Primary Sidebar
*/
    #primary-sidebar .widget-section {
        display: block!important;
    }
    
    #primary-sidebar .widget {
         display: block!important;
    }
    
/*
    Dashboard Primary Sidebar
*/  
    #dashboard-primary-sidebar #dashboard-nav,
    #dashboard-primary-sidebar .widget {
        display: block!important;
    }
}


@media only screen and (max-width: 991px) {
/*
    Page Content
*/
    #page-content {
        font-size: 9px;
    }
    
/*
    Page Top Bar
*/
    .page-home #page-top-bar {
        display: none;
    }
    
/*
    Banner
*/
    #banner-wrap .col-md-8 {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    
    #banner {
        font-size: 9px;
    }
    
/*
    Banner Aside
*/
    #banner-aside {
        display: none;
    }
    
/*
    Product Showcase
*/
    .product-showcase {
        font-size: 1.2em;
    }
    
/*
    Primary Content
*/
    #primary-content {
        width: 100%;
        float: none;
    }
    
/*
    Product Overview
*/
    #product-overview .product-summary {
        width: 100%;
        padding-left: 15px;
    }
    
    #product-overview .process-section .col-md-8 {
        width: 85%;
    }
    
/*
    Product Gallery
*/
    .product-gallery {
        width: 100%;
        float: none;
    }
    
    .product-gallery-nav {
        width: 100%;
        float: none;
        z-index: 999;
        padding-top: 12px;
    }
    
    
.product-gallery-nav .slick-next,
.product-gallery-nav .slick-prev {
    width: 22px;
    height: 77%;
    position: absolute;
    bottom: -30%;
    top: auto;
    left: auto;
    right: 0;
    z-index: 999;
    border-radius: 0 3px 3px 0;
}

.product-gallery-nav .slick-prev {
    top: auto;
    left: 0;
    border-radius: 3px 0 0 3px;
}

.product-gallery-nav .slick-next:before,
.product-gallery-nav .slick-prev:before {
    content: "\f105";
    font-family: 'FontAwesome';
    font-size: 16px;
    color: #f57d31;
    opacity: 1!important;
    visibility: visible!important;
    display: inline-block;
}

.product-gallery-nav .slick-prev:before {
    content: "\f104";
}
    
    .product-gallery a.img-lightbox {
        opacity: 0;
    }
    
    .product-gallery-wrap .btn-zoom {
        width: 76%;
        font-size: 1.2em;
        font-weight: bold;
        color: #f57d31;
        text-align: center;
        display: block;
        position: absolute;
        bottom: 22%;
        left: 12%;
        z-index: -1;
        border-radius: 5px;
        border: 1px #dddddd solid;
        padding: 5px;
    }
    
/*
    Checkout Section
*/
    #checkout-section {
        width: 600px;
    }
    
/*
    Checkout Aside  
*/
    .checkout-aside {
        width: 400px;
        clear: both;
        margin: 0 auto;
    }
    
    
    
/*
    Primary Sidebar
*/
    #primary-sidebar {
        width: 100%;
        max-height: 35px;
        overflow: hidden;
        float: none;
        margin: 0 0 25px 0;
    }
    
    #primary-sidebar.active {
        max-height: 10000px;
        transition: 3s;
    }
    
    #primary-sidebar .widget-section {
        border: 1px #eeeeee solid;
        margin: 0 0 1px 0;
    }
    
    #primary-sidebar .widget-section {
        max-height: 35px;
        overflow: hidden;
    }
    
    #primary-sidebar.active .widget-section.active {
        max-height: 10000px;
        transition: 1s;
    }
    
    #primary-sidebar header {
        cursor: pointer;
        background: #eeeeee;
        border: 0;
        padding: 8px 14px;
    }
    
    #primary-sidebar .sidebar-title,
    #primary-sidebar .sidebar-title .fa,
    #primary-sidebar header .fa {
        display: block;
    }
    
    #primary-sidebar .sidebar-title .fa {
        color: #686868;
    }
    
    #primary-sidebar footer,
    #primary-sidebar footer a {
        display: block!important;
    }
    
    #range-slider .price-range > li.range-current {
        width: 82%;
        text-align: center;
    }
    
    
/*
    Dashboard Pages  
*/
    
    .primary-wrapper {
        width: 100%;
    }
    
/*
    Dashboard Primary Content
*/
    #dashboard-primary-content {
        width: 100%;
        float: none;
    }
    
/*
    Dashboard Secondary Content  
*/
    #dashboard-secondary-content {
        width: 100%;
        float: none;
    }
    
/*
    Dashboard Primary Sidebar
*/
    #dashboard-primary-sidebar {
        width: 100%;
        max-height: 34px;
        overflow: hidden;
        float: none;
        transition: 1s;
    }
    
    #dashboard-primary-sidebar.active {
        max-height: 1000px;
        transition: 1s;
    }
    
    #dashboard-primary-sidebar .h3 {
        color: #ffffff!important;
        background: #464545;
        padding: 10px;
    }
    
    #dashboard-primary-sidebar .h3 .fa-bars {
        display: inline-block;
    }
    
    #dashboard-primary-sidebar #dashboard-nav > ul > li > a:before {
        margin: 0 10px 0 4px;
    }
    
/*
    Dashboard Secondary Sidebar
*/
    #dashboard-secondary-sidebar {
        width: 50%;
        float: none;
        margin: 40px auto 0 auto;
    }
    
    .basic-gallery > .col-md-3 {
        margin-bottom: 10px;
        margin-left: 15px;
    }
    
    .basic-gallery .product-image {
        width: 30%;
        max-width: 120px;
    }
}






@media only screen and (max-width: 767px) {
    
/*
    Page Content
*/
    #page-content {
        font-size: 8px;
    }
/*
    Banner
*/
    #banner-nav {
        display: none;
    }
       
    #banner-carousel {
        margin-bottom: 0;
    }
    
/*
    Featured Products
*/
    .featured-products .heading {
        text-align: right;
        margin: 0 0 3em 0;
    }
    
    .featured-products .heading h2 {
        width: 60%;
        display: block;
        text-align: left;
        padding-bottom: 0;
    }
    
    .featured-products .heading:after {
        display: none;
    }
    
    .featured-products .heading .button {
        vertical-align: middle;
        float: none;
        margin-top: 0;
    }
    
    .featured-products .heading .btn-info {
        top: 0;
    }
    
/*
    Product Showcase
*/
    .product-showcase {
        font-size: 1.5em;
    }
    
    .product-showcase > div {
        width: 100%;
        display: table-row;
    }
    
    .product-showcase .col-right > ul:first-child {
        margin: 15px 0 0 0;
    }
    
    .product-showcase .col-right > ul > li {
        max-width: 0;
        overflow: hidden;
    }
    
    .product-showcase .col-right > ul > li > a {
        width: 98%;
        margin: 0;
        padding: 10px 10px 20px 10px;
    }
    
    .product-showcase .col-right > ul > li:first-child > a {
        margin-right: 2%;
    }
    
    .product-showcase .col-right .title {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    
    .product-showcase .primary-link {
        width: 100%;
        text-align: center;
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
    }
    
/*
    Product Overview
*/
    #product-overview .product-summary {
        width: 100%!important;
    }
    
    #product-overview .product-gallery-wrap {
        width: 320px!important;
        float: none;
        margin: 0 auto 15px auto;
    }
    
    .product-gallery a.img-lightbox {
        opacity: 0;
    }
    
    .product-gallery-wrap .btn-zoom {
        width: 76%;
        font-size: 1.2em;
        font-weight: bold;
        color: #f57d31;
        text-align: center;
        display: block;
        position: absolute;
        top: 250px;
        left: 12%;
        z-index: -1;
        border-radius: 5px;
        border: 1px #dddddd solid;
        padding: 5px;
    }
    
    #product-overview .product-summary > .row > .col {
        margin-bottom: 10px;
        padding-left: 0;
        padding-right: 0;
    }
    
    #product-overview .product-summary > .row > .col:last-child {
        margin-bottom: 0;
    }
    
    #product-overview .product-logo {
        width: 50px!important;
        margin-right: 10px;
    }
    
    #product-overview .process-section .col-md-8 {
        width: 75%;
    }
    
    #product-overview .process-button-group button {
        width: 80%;
        max-width: 300px;
        display: block;
        margin-bottom: 8px;
    }
    
    .review-section .review-summary {
        width: 100%;
    }
    
    .review-section small {
        text-align: center;
        display: block;
    }
    
    #review-tabs {
        border-top: 1px #dddddd solid;
        padding-top: 20px;
    }
    
    #review-tabs .review-list > .row > .col {
        width: 100%;
    }
    
    #review-tabs .compose-review .rating-field > div, 
    #review-tabs .compose-review .rating-field > span {
        width: 100%;
        text-align: center;
        display: block;    
    }
    
    #review-tabs ul.nav-tabs {
        overflow: hidden;
        border-radius: 5px;
        box-shadow: 0px 0px 5px #dddddd;
        border: 1px #dddddd solid;
    }
    
    #review-tabs ul.nav-tabs li {
        float: none;
        display: block;
        border-radius: 0;
        border-bottom: 1px #dddddd solid;
        margin: 0;
    }
    
    #review-tabs ul.nav-tabs li:last-child {
        border-radius: 0 0 5px 5px;
        overflow: hidden;
    }
    
    #review-tabs ul.nav-tabs li a,
    #review-tabs ul.nav-tabs li:first-child a {
        padding: 10px;
    }
    
    #review-tabs ul.nav-tabs li.active {
        background: #f57d31;
    }
    
    #review-tabs ul.nav-tabs li.active a {
        color: #ffffff;
        background: none;
        border: 0;
        padding: 10px;
    }
    
    #review-tabs ul.nav-tabs > li.active > a .fa-arrow-circle-right {
        display: inline-block;
    }
    
/*
    Featured Carousel
*/
    .featured-carousel-wrapper {
        padding: 0 20px;
    }
    
    .featured-carousel .slick-next {
        right: -25px;
    }
    
    .featured-carousel .slick-prev {
        left: -25px;
    }
    
/*
    Simple Carousel
*/
    #simple-carousel {
        margin: 0 0 30px 0;
    }

    #simple-carousel img {
        border-radius: 5px;
    }
    
    #simple-carousel .slick-dots li button::before {
        font-size: 6px!important;
    }

    #simple-carousel .slick-dots {
        bottom: -22px;
    }

    #simple-carousel .slick-dots li {
        width: 10px;
    }

    #simple-carousel .slick-dots li button::before {
        font-size: 20px;
        color: #ebebeb;
        opacity: 1;
    }

    #simple-carousel .slick-dots li.slick-active button::before {
        color: #b2b2b2;
    }
    
/*
    Product Overview
*/
    #product-overview .product-summary > .row {
        margin-left: 0;
    }
    
    #product-overview .product-summary .row.split > div:first-child {
        border-right: 0;
    }
    
    
/*
    Checkout Section
*/
    #checkout-section {
        width: 100%;
    }

    
/*
    Checkout Aside  
*/
    .checkout-aside {
        width: 100%!important;
        float: none!important;
        clear: both!important;        
        margin: auto;
    }
    
/*
    Primary Sidebar  
*/
    #range-slider .price-range > li.range-current {
        width: 54%;
        text-align: center;
    }
    
/*
    Dashboard Pages  
*/
    
/*
    Table Wishlisht  
*/
    .table-wishlist {
        display: block;
    }
    
    .table-wishlist .table-header {
        display: none;
    }
    
    .table-wishlist .table-content {
        width: 100%;
        text-align: center;
        display: block;
        position: relative;
        border-bottom: 1px #dcdbdb solid;
        margin: 0 0 25px 0;
    }
    
    .table-wishlist .table-content .table-cell {
        width: 100%;
        display: block;
        border: 0;
    }
    
    .table-wishlist .table-content .table-cell:nth-child(3) {
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
    }
    
    .table-wishlist .table-content .table-cell:last-child .fa-close {
        position: absolute;
        top: 0;
        right: 0;
    }
    
/*
    Panel Primary
*/
.panel-primary {

    padding: 20px;
}
    
/*
    Panel Section
*/
.panel-section {
    border-collapse: collapse;
    border-spacing: 0;
}

.panel-section .panel.col-6 {
    width: 100%;
    display: block;
    position: relative;
    left: 0;
}

.panel-section .panel.col-6:last-child {
    left: auto;
    right: 0;
}
    

/*
    Login Section
*/
#login-section {
    display: block;
    border-collapse: collapse;
    border-spacing: 0;
}

#login-section > .table-row > .table-cell {
    width: 100%;
    display: block;
    position: relative;
    padding-bottom: 0;
}

#login-section > .table-row > .table-cell:first-child {
    left: 0;
    margin: 0 0 50px 0;
}

#login-section > .table-row > .table-cell:last-child {
    right: 0;
}

#login-section .dashboard-footer {
    width: 100%;
    position: relative;
    bottom: 0;
}

/*
    Table Cart  
*/
    .table-cart .table-header {
        display: none;
    }
    
    .table-cart > .table-content > .table-cell {
        width: 100%;
        text-align: center;
        display: block;
        position: relative;
    }
    
    .table-cart > .table-content {
        display: block;
        padding: 25px 0;
    }
    
    .table-cart > .table-content > .table-cell:first-child {
        padding: 0;
    }
    
    .table-cart > .table-content > .table-cell:first-child .fa-close {
        position: absolute;
        top: 15px;
        right: 0;
        z-index: 99;
    }
    
    .table-cart > .table-content > .table-cell:nth-child(5) {
        width: 200px;
        margin: 0 auto 0 auto;
        padding-left: 50px;
    }
    
    #dashboard-secondary-content .dashboard-footer .table-cell {
        width: 100%;
        display: block;
        text-align: center;
        padding: 0;
    }
    
    
    #dashboard-secondary-content .dashboard-footer a.btn {
        width: 250px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
/*
    Dashboard Secondary Sidebar
*/
    #dashboard-secondary-sidebar {
        width: 100%;
    }
    
}
/****************************/
/*** END WEBSITE CONTENTS ***/
/****************************/








/**********************/
/*** WEBSITE FOOTER ***/
/**********************/
@media only screen and (min-width: 768px) and (max-width: 1120px) {
/*
    Footer Top  
*/
    #signup-form .field-wrap {
        width: 54%;
        margin: 0 0 0 7%;
    }
/*
    Footer Base
*/
    
/*
    Footer Base Primary Column
*/
    #ft-base-primary-col {
        width: 50%;
    }

/* 
    Footer Base Secondary Column 
*/
    #ft-base-secondary-col {
        width: 50%;
        padding-top: 10px;
    }
    
    #ft-base-secondary-col ul {
        display: block;
    }
}

@media only screen and (max-width: 991px) {
/*
    Footer Top
*/
    #footer-top {
        font-size: 9px;
    }
        
    #signup-form .field-wrap {
        width: 50%;
    }
    
/*
    SignUp Form
*/
    #signup-form label {
        margin-top: 2px;    
    }
    
    #signup-form .field-wrap input[type="email"] {
        height: 40px;
    }
    
    #signup-form input[type="submit"] {
        height: 100%;
        padding: 0 20px;
    }

}





@media only screen and (max-width: 767px) {

/*
    Footer Top
*/
    #footer-top {
        font-size: 8px;
        text-align: center;
    }
    
/*
    SignUp Form
*/
    #signup-form {
        width: 100%;
        float: none;
    }
    
    #signup-form label {
        display: block;
        float: none;
    }
    
    #signup-form .field-wrap {
        width: 90%;
        max-width: 360px;
        display: block;
        float: none;
        margin: 15px auto;
    }
    
/*
    Contact Column  
*/
    #contact-column {
        width: 100%;
        float: none;
    }
    
/*
    Footer Middle
*/
    #footer-middle {
        display: none;
    }
    
/*
    Footer Base
*/
    #footer-base {
        padding: 5px 0 10px 0;
    }
    #footer-base > .main div {
        width: 100%;
        text-align: center;
        float: none;
    }
    
    #ft-base-secondary-col > ul {
        margin: 0 0 1em 0;
    }
}
/**************************/
/*** END WEBSITE FOOTER ***/
/**************************/






